<h1>
    {{ Titulo }}
</h1>

<h2>
    {{ Titulo_U }}
</h2>

<ul>
    <ul>
        <strong style = "color: darkred;">Politecnico Grancolombiano</strong>
        <ul>
            Ingenieria De Software
            <li>2019 - 2023</li>
        </ul>
        <ul>
            Tecnico de Software
            <li>2016 - 2019</li>
        </ul>
        <br>
        
        <strong style = "color: darkred;">Fundacion Universitaria Cafam (Unicafam)</strong>
        <ul>
            Tecnico Profesional Infraestructura de TIC
            <li>2011 - 2015</li>
        </ul>
    </ul>
</ul>

<h2>
    {{ Colegio }}
</h2>

<ul>
    Gimnasio la Salette
    <li>2003 - 2008</li>
</ul>

<h2>
    {{ Idiomas }}
</h2>

<ul>
    <ul>
        Español
    </ul>
    <br>

    <strong style = "color: darkred;">Academia de idiomas Smart</strong>
    <ul>
        Ingles - 50%
    </ul>
</ul>

<h2>
    {{ Herramientas_de_software }}
</h2>

<ul>
    <li>Angular</li>
    <li>TypeScript</li> <br>
    <li>Cisco Packet tracer</li>
    <li>Git - Github</li> <br>
    <li>Canva</li>
    <li>Prezi</li> <br>
    <li>Office</li>
    <li>Visual Studio Code</li> <br>
    <li>Xampp</li>
    <li>Postman</li>
</ul>