body{
    text-align: justify;
}

h1{
    text-align: center;
}
body::before{
    content: " ";
    position: absolute;
    inset: 40%, -60% 0 -60%;
    opacity: 0.3;
    pointer-events: none;
}

nav{
    position: relative;
    z-index: 1px;
}

nav ul{
    margin: center;
    padding: center;
    list-style: none;
}