h1{
    color: #E03137;
    font-family: 'avennir', sans-serif;
    text-align: center;
}

h2, h3{
    margin: auto;
    display: block;
    color: blue;
}

body{
    background: silver;
    text-align: justify;
}

nav{
    background: lightblue !important;
    text-align: center;
    background: rgba(224, 49, 55, 0.67);
}